In [2]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

conn = psycopg2.connect(user='postgres',
password='mypassword',
host='localhost',
port=5432)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = conn.cursor()

In [ ]:
# db_name = "test_db"
# sql_create_db = "CREATE DATABASE " + db_name + ";"
# # sql_drop_db = "DROP DATABASE " + db_name + ";"
# cur.execute(sql_create_db)

In [5]:
from sklearn import datasets
import pandas as pd
import numpy as np

iris = datasets.load_iris()
df = pd.DataFrame(
    data=iris.data,
    columns=[
        "sepal length (cm)",
        "sepal width (cm)",
        "petal length (cm)",
        "petal width (cm)",
    ]
)
df["target"] = iris.target

In [4]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),iTarget
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [10]:
table_name = "iris_data"
sql_create_table = f"""CREATE TABLE {table_name} (
  id serial PRIMARY KEY,
  \"sepal length (cm)\" DOUBLE PRECISION NOT NULL,
  \"sepal width (cm)\" DOUBLE PRECISION NOT NULL,
  \"petaal length (cm)\" DOUBLE PRECISION NOT NULL,
  \"petaal width (cm)\" DOUBLE PRECISION NOT NULL,
  target INT NOT NULL
);"""
cur.execute(sql_create_table)

In [9]:
# table_name = "iris_data"
# sql_drop_table = f"""DROP TABLE {table_name};"""
# cur.execute(sql_drop_table)

In [11]:
sql_insert_table = f"""INSERT INTO {table_name} (
  \"sepal length (cm)\",
  \"sepal width (cm)\",
  \"petaal length (cm)\",
  \"petaal width (cm)\",
  target
) VALUES (%s, %s, %s, %s, %s)"""
record_to_insert = df.iloc[0].values
cur.execute(sql_insert_table, record_to_insert)
conn.commit()

count = cur.rowcount
print(count, "Record inserted successfully into postgres.iris_data")

1 Record inserted successfully into postgres.iris_data

In [12]:
cur.execute("SELECT * FROM iris_data;")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 5.1, 3.5, 1.4, 0.2, 0)